body {
  background-color: #131313;
  color: white;
}

.font-montserrat {
  font-family: 'montserrat Sans', sans-serif;
}

.font-Josefin {
  font-family: 'Josefin Sans', serif !important;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.8); /* Semi-transparent thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(
    85,
    85,
    85,
    0.8
  ); /* Semi-transparent thumb on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(136, 136, 136, 0.8) transparent; /* Semi-transparent thumb and transparent track */
}

/* For Edge and IE */
* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.hyphenated-text {
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Qickfixes Design / Dynamic Values */
.dynamicLineHeight {
  line-height: 12px !important;
}

.dynamicLineHeight1 {
  line-height: 1.33333333rem !important;
}

.dynamicLineHeight2 {
  line-height: 1.8rem !important;
}

@media (min-width: 1533px) {
  .dynamicElementHeight2 {
    line-height: 4.4rem !important;
  }
}

.dynamicFontSize {
font-size: 1rem;
}

.logo {
  font-family: 'Josefin Sans', serif !important;
  width: 234px;
}

.dynamicElementHeight {
  top: -14px !important;
  }

.dynamicElementHeight1 {
  height: 32px !important;
  }

.dynamicZIndex {
  z-index: 999999 !important;
  }

.dynamicLetterSpacing {
  letter-spacing: 0.2rem;
}

.swiper-pagination-bullet {
  background: #e5e7eb !important;
  color: #e5e7eb !important;
}

.customLineHight {
  line-height: 1.5rem !important;
}

.dynamicLetterSpacingLogo {
  letter-spacing: 0.4rem;
  width: 342px;
}

.textJustify {
  text-align: justify;
}